
<!-- <app-view-child-example></app-view-child-example> -->
<h1 style="text-align: center;">From App Component</h1>
<h2>{{message}}</h2>
<button (click)="userLoggedIn = true">Login</button>
<button (click)="userLoggedIn = false">LogOut</button>
    <!-- method 1 for output interaction -> we have to use that event stored value as a function -->
<!-- Component interaction using "Services" between non-related(no Parent - child relationships) components -->
    <h1>Teacher</h1>
    <button (click)="greetStudent()">Greet Student</button>
    <button (click)="appreciateStudent()">Appreciate Student</button>
<app-test #anvi [parentData]="parentDataValue" (childEvent)="message = $event" [loggedIn]="userLoggedIn" (greetEvent)="greet($event)"></app-test>

<h1>{{anvi.anviName}}</h1>
<button (click)="anvi.greetAnvi()">greet Anvi</button>
    <!-- method 2 -->
<!-- <app-test [parentData]="parentDataValue" (childEvent)="receivedEvent($event)"></app-test> -->
<router-outlet></router-outlet>
<!-- <h1 #headline>ViewChild decorator learning</h1> -->
